/* Global styles for the body element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('Login-Image.webp');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 300px;
}

/* Styles for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Styles for the login box */
.login-box {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Styles for the logo */
.logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Styles for heading 2 */
h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Styles for the input fields */
input {
    width: 60%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Styles for the login button */
.login-button {
    width: 50%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Hover styles for the login button */
.login-button:hover {
    background-color: #0056b3;
}
